.loading {
  width: 1200px;
  height: 800px;
}

.item-list {
  width: 1200px;
  margin: 0px auto;
  padding: 80px 0px 200px;

  .item-list-header {
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 216px;

    .item-list-title {
      font-size: 55px;
      font-size: bold;
      line-height: 74px;
      display: flex;
      align-items: flex-start;

      span {
        margin: 8px 0px 0px 14px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
      }
    }

    .item-list-message {
      margin-top: 23px;
      font-size: 16px;
      line-height: 29px;
    }
  }

  .item-list-message-wrap {
    display: flex;
    justify-content: right;
    margin-top: 80px;
    padding-bottom: 6px;

    .item-list-recommend-text {
      min-width: 120px;
      max-width: 300px;
      color: rgb(0, 0, 0);
      z-index: 1;

      .button-recommend {
        border: none;
        padding: 5px;
        margin-bottom: 30px;
        border-radius: 4px;
        font-size: 16px;
        font-size: bold;
        background-color: #fff;
        cursor: pointer;
        &:hover {
          font-weight: bold;
          color: #6236ff;
        }
      }

      .button-least {
        border: none;
        padding: 5px;
        margin-bottom: 30px;
        border-radius: 4px;
        font-size: 16px;
        font-size: bold;
        background-color: #fff;
        cursor: pointer;
        &:hover {
          font-weight: bold;
          color: #6236ff;
        }
      }
    }
  }

  .item-list-img-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;

    .item-list-img {
      font-size: 16px;
      text-align: center;
      border-radius: 20%;

      &:hover {
        transition: all 0.6 s ease 0s;
        color: dodgerblue;
        cursor: pointer;
      }

      img {
        border-radius: 30px;
        border: 2px solid rgba(1, 1, 1, 0.1);
        width: 100%;
        height: 262px;
        transition: all 0.5s;

        &:hover {
          transform: scale(0.95);
        }
      }

      .badge {
        width: 100%;
        height: 20px;
        margin-top: 20px;
        margin-bottom: 5px;

        .badge-best {
          margin-right: 5px;
          margin-left: 5px;
          color: #6236ff;
          font-weight: bold;
          font-size: 14px;
          text-decoration: underline;
          text-underline-position: under;
          text-align: center;
        }

        .badge-green {
          color: #0c952a;
          font-weight: bold;
          font-size: 14px;
          text-decoration: underline;
          text-underline-position: under;
          text-align: center;
        }
      }

      .item-list-img-text {
        margin-bottom: 20px;
        line-height: 30px;

        .img-price {
          font-size: 16px;
          font-weight: bold;
        }

        p {
          word-break: keep-all;
          font-size: 14px;
        }
        &:hover {
          transition: all 0.6 s ease 0s;
          color: dodgerblue;
          cursor: pointer;
        }
      }
    }
  }
}
