.pro-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 0 0 50px;

  .pro-list-wrap {
    margin-top: 60px;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: #2ac1bc;
    }

    .pro-list-img-box {
      width: 100%;

      img {
        border-radius: 30px;
        border: 2px solid rgba(1, 1, 1, 0.1);
        width: 260px;
        height: 260px;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .badge {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      height: 15px;
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 700;
      text-align: center;

      .badge-best {
        color: #6236ff;
        text-decoration: underline;
        text-underline-position: under;

        &:first-child {
          margin-left: 0px;
        }
      }

      .badge-green {
        color: #0c952a;
        text-decoration: underline;
        text-underline-position: under;
        margin-left: 5px;
      }
    }

    .pro-list-name-box {
      margin-top: 30px;
      font-size: 16px;
      line-height: 25px;
      word-break: keep-all;
    }

    .pro-list-price-box {
      margin-top: 20px;
      font-weight: 700;
      font-size: 18px;
    }
  }
}
