.footer {
  background-color: #fafafa;
  padding: 70px 0 100px 0;
  line-height: 30px;
  display: flex;

  .footer-inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;

    .footer-logo {
      width: 400px;
      position: relative;
      font-size: 30px;
    }

    .footer-div {
      position: relative;

      .footer-nav {
        display: flex;
        width: 800px;
        position: relative;
        font-size: 18px;

        .footer-ul {
          display: flex;
          > li {
            margin-right: 20px;
          }
        }
      }

      .footer-info {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        font-size: 15px;
      }
    }
  }
}
